## {{ crate }}
{{''}}
{{''}}
{%- if license is defined %} ![License: {{ license }}](https://img.shields.io/badge/license-{{ license | replace("-", "--") | urlencode }}-blue)
{%- endif %}
{%- if rust_version is defined %} ![Rust Version: {{rust_version}}](https://img.shields.io/badge/rustc-{{ rust_version | urlencode }}-orange.svg)
{%- endif %}

{{ readme }}

{%- if links != "" %}

{{ links }}
{%- endif -%}